%ul
  - @widgets.each do |widget|
    %li
      = widget.name
      %ul
        - widget.gadgets.each do |gadget|
          %li
            = gadget.name
            - gadget.controls.each do |control|
              %ul
                %li= control.name

